.carousel {
    padding-bottom: 5rem;
    background: #fff;
}

.carousel__main-text {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-inline: auto;
}

.carousel__second-header {
    font-size: 2.6rem;
}

.carousel__first-paragraph {
    width: 50%;
    margin-bottom: 100px;
    font-size: 1.1rem;
} 

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    /* max-width: 1281px;
    display: flex;
    gap: 1em;
    margin-inline: auto;
    margin-top: 1em; */
}

.slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 6px 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.9;
    z-index: 900;
}

.slider-btn__left {
    /* bottom: 3px; */
    left: 0;
}

.slider-btn__left:hover {
    background-color: #1f98f45d;
}

.slider-btn__right {
    position: absolute;
    /* bottom: 3px; */
    right: 12px;
}

.slider-btn__right:hover {
    background-color: #1f98f45d;
}


.carousel__items {
    display: flex;
    gap: 1em;
    margin-inline: auto;
    margin-top: 1em;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.carousel__items::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 10px;
    cursor: pointer;
}

.carousel__item__pic-wrap {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.image__slide__div {
    position: relative;
}

.favourite-icon {
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 6px 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    border-radius: 3px 0 0 0;
    box-sizing: border-box;
    cursor: pointer;
}

.fa-solid {
    color: #fff;
}

.carousel__item__img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    transition: all 0.9s linear;
}

.carousel__item__img:hover {
    transform: scale(1.1);
}

.carousel__item__info {
    padding: 15px;
}

.carousel__item__text {
    font-size: 0.65rem;
}


@media only screen and (max-width: 820px) {
    .Carousel {
        padding: 5rem;
    }

    /* .carousel__items {
        flex-direction: column;
    } */

    .Carousel h1 {
        font-size: 2.7rem;
    }

    .carousel__item__text {
        font-size: 1.1rem;
    }
}


@media only screen and (max-width: 390px) {
    .carousel {
        padding: 3rem!important;
    }

    
}